.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  color: #000;
  right: 48px;
  bottom: 0;
  top: 50%;
  opacity: 1;
  transition: .2s ease-out;
}

.feynman__link:hover {
  opacity: .5;
}