@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 24px;
  font-weight: normal;
}