@import url(../feynman/__title/feynman__title.css);
@import url(../feynman/__subtitle/feynman__subtitle.css);
@import url(../feynman/__img/feynman__img.css);
@import url(../feynman/__link/feynman__link.css);

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  height: 790px;
}