@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../cards/cards.css);

.techniques {
  margin: 100px auto;
  width: 80%;
  align-items: center;
}