@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__column/_content/footer__column_content_copyright.css);
@import url(../footer/__author/footer__author.css);
@import url(../footer/__column-heading/footer__column-heading.css);
@import url(../footer/__column-links/footer__column_links.css);
@import url(../footer/__link/footer__link.css);

.footer {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1f1f1f;
}