
.link {
    text-decoration: none;
}

ul {
    list-style: none;
}
.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    /* parameters for the header section */
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
}

.header__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    align-items: center;
    z-index: 1;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    margin-left: 64px;
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    bottom: 0;
    left: 0;
    text-decoration: none;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    top: 150px;
    right: 60px;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    top: 64px;
    right: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.logo {
    width: 154px;
    height: 31px;
    position: absolute;
}

.logo__place_header {
    margin-top: 30px;
    margin-left: 64px;
}

.description {
    display: flex;
    justify-content: center;
}
.two-columns {
    display: flex;
    width: 80%;
    min-width: 784px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
}

.two-columns__paragraph {
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__span-accent {
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
}



.section-title, .section-subtitle {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.section-title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    line-height: 69px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
}
.table__text {
    line-height: 1.2;
    font-size: 18px;
}

.feynman {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f2f2f2;
    height: 790px;
    margin-top: 100px;
    padding-top: 100px;
}

.feynman__title {
    width: 770px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

.feynman__subtitle {
    text-align: center;
    margin-top: 70px;
    z-index: 1;
}

.feynman__subtitle, .feynman__link  {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__link {
    position: absolute;
    margin-right: 48px;
    color: #000;
    right: 0;
    bottom: 0;
    height: 50%;
}


.feynman__img {
    position: absolute;
    height: 637px;
    width: 867px;
    bottom: 0;
    left: 100px;
    z-index: 0;
}

.kaufman {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    align-items: center;
}

.section-title_theme_dark, .section-subtitle_theme_dark  {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: #f2f2f2;
    width: 60%;
    text-align: center;
}

.section-title_theme_dark {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 90px 0 0 0;
    z-index: 1;
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 0 0;
}

.table_theme_dark {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    z-index: 1;
    margin: 0 auto 90px auto;
}

.table__cell_theme_dark {
    width: 200px;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.kaufman__triangle {
    position: absolute;
    z-index: 0;
    top: -20px;
    right: -210px;
}

.footer {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1f1f1f;
}

.footer__columns {
    width: 90%;
    flex-basis: 711px;
}


