.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  opacity: 1;
  transition: .2s ease-out;
}

.khan__buy-link:hover {
  opacity: .5;
}